.cocktail{
    background: url('Home/menuAria3.jpg') no-repeat;
    background-size: cover;
}

.card {
    width: 450px;
}

.card img{
    height: 260px;
}

.card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;

}

.card1{

    width: 600px;

}

.card1 img{
    width: 600px;
    height: 350px;
}

h2{

    color: #440044;
    font-weight: bold;
}







