/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////// HOME BG //////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.home {
  	background: url('Home/HomePage.jpg') no-repeat center;
  	background-size: cover;
  }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////// Body //////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.button{
	margin-left: auto;
    margin-right: auto;
    
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////// BARS //////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.toolbar-background {
    background-color: rgba(255, 255, 255, 0.5);
}

ion-navbar.toolbar.show-navbar {
    opacity: 0.7;
}

ion-toolbar.toolbar {
    opacity: 1.4;
}