.menuAria{
  background: url('Home/menuAria3.jpg') no-repeat;
  background-size: 612px;
}
.mybackground{
	background-color: #9e9e9e ;
}


.margintop{

	background-image: url('http://www.quiveutdufromage.com/data/recette/entree-fraicheur-au-tartare-414x414.png');
	background-position: center;
	background-repeat: no-repeat;
	background-width: 100%;
}


.mycardparams{
	height: 150px;
	margin-bottom: 50px;

}

.repas{
	background-image: url('http://www.coupdepouce.com/img/photos/biz/cdp/saute-porc-poivrons410.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-width: 100%;
}

.desserts{
	background-image: url('http://distriburger.com/wp-content/uploads/2014/11/desserts-pour-snack-distriburger.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-width: 100%;
}

.contentcolor{
	background-color: #e0e0e0 ;
	opacity: 0.8;
}
